<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
  <div class="row">
    <div class="col-md-12">
      <!-- START BASIC TABLE SAMPLE -->
      <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="pull-left"><span class="fa fa-file-o"></span> <%= t('zgc_cms.admin.users.user_roles')%></h4>
                    <%= link_to raw("<i class='fa fa-plus'></i> #{t('zgc_cms.admin.users.add_user_role')}"), {action: :new}, class: "btn btn-primary pull-right zgc_ajax_request" %>
                </div>
            </div>
        </div>
        <div class="panel-body">
          <table class="table table-responsive table-hover table-striped">
            <thead>
            <tr>
              <th><%= t('zgc_cms.admin.table.id') %></th>
              <th><%= t('zgc_cms.admin.table.name') %></th>
              <th><%= t('zgc_cms.admin.table.description') %></th>
              <th><%= t('zgc_cms.admin.table.actions') %></th>
            </tr>
            </thead>
            <tbody>
            <% @user_roles.decorate.each do |f| %>
                <tr>
                  <td><%= f.id %></td>
                  <td><%= f.the_title %></td>
                  <td><%= f.the_content %></td>
                  <td>
                    <%= link_to raw('<i class="fa fa-pencil"></i>'), {action: :edit, id: f.id }, class: "btn btn-default btn-xs zgc_ajax_request", title: "#{t('zgc_cms.admin.button.edit')}" %>
                    <% if f.editable? %>
                        <%= link_to raw('<i class="fa fa-times"></i>'), { action: :destroy, id: f.id },
                                method: :delete, data: { confirm: t('zgc_cms.admin.message.delete_item') }, class: "btn btn-danger btn-xs zgc_ajax_request", title: t('zgc_cms.admin.button.delete') %>
                    <% else %>
                        <%= link_to 'javascript:;', disabled: true, class: 'btn btn-danger btn-xs zgc_ajax_request', title: t('zgc_cms.admin.users.message.role_can_not_be_deleted', default: 'This role can not be deleted') do %>
                            <i class="fa fa-times"></i>
                        <% end %>
                    <% end %>
                  </td>
                </tr>
            <% end %>

            </tbody>
          </table>
          <%= content_tag("div", raw(t('zgc_cms.admin.message.data_found_list')), class: "alert alert-warning") if @user_roles.empty? %>
            <%= raw zgc_do_pagination(@user_roles) %>

        </div>

      </div>
      <!-- END BASIC TABLE SAMPLE -->
    </div>
  </div>

</div>
