<p><%= t('zgc_cms.admin.login.message.hello') %>, <b><%= @extra_data[:fullname] %></b></p>
<p><%= t('zgc_cms.admin.login.message.reset_url') %>:</p>
<p><a href='<%= @extra_data[:url] %>'><b><%= @extra_data[:url] %></b></a></p>