<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= raw the_head({}) if current_site.present? %>
    <title><%= (content_for?(:title) ? yield(:title) : t('zgc_cms.admin.login.login')) %></title>
    <%= stylesheet_link_tag "zgc_cms/admin/admin-basic-manifest", media: "all" %>
    <%= javascript_include_tag "zgc_cms/admin/admin-basic-manifest" %>
</head>
<body class="hold-transition login-page">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 login-box">
        <div class="login-logo">
            <%= link_to(image_tag(current_site.the_logo), zgc_admin_login_path) rescue image_tag("zgc_cms/zgc.png") %>
        </div>
        <div class="login-box-body">
            <%= yield %>
        </div>
    </div>
</body>
</html>
