/* BOOTSTRAP COLORPICKER */
.colorpicker-saturation {
    width: 100px;
    height: 100px;
    background-image: asset-url("zgc_cms/admin/img/colorpicker/saturation.png");
    cursor: crosshair;
    float: left;
}
.colorpicker-saturation i {
    display: block;
    height: 5px;
    width: 5px;
    border: 1px solid #000;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    position: absolute;
    top: 0;
    left: 0;
    margin: -4px 0 0 -4px;
}
.colorpicker-saturation i b {
    display: block;
    height: 5px;
    width: 5px;
    border: 1px solid #fff;
}
.colorpicker-hue,
.colorpicker-alpha {
    width: 15px;
    height: 100px;
    float: left;
    cursor: row-resize;
    margin-left: 4px;
    margin-bottom: 4px;
}
.colorpicker-hue i,
.colorpicker-alpha i {
    display: block;
    height: 1px;
    background: #000;
    border-top: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -1px;
}
.colorpicker-hue {
    background-image: asset-url("zgc_cms/admin/img/colorpicker/hue.png");
}
.colorpicker-alpha {
    background-image: asset-url("zgc_cms/admin/img/colorpicker/alpha.png");
    display: none;
}
.colorpicker {
  top: 0;
  left: 0;
  padding: 4px;
  min-width: 120px;
  margin-top: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 99999;
}
.colorpicker.dropdown-menu {
    margin-top: 8px;
}
.colorpicker div {
    position: relative;
}
.colorpicker.alpha {
    min-width: 140px;
}
.colorpicker.alpha .colorpicker-alpha {
    display: block;
}
.colorpicker-color {
    height: 10px;
    margin-top: 5px;
    clear: both;
    background-image: asset-url("zgc_cms/admin/img/colorpicker/alpha.png");
    background-position: 0 100%;
}
.colorpicker-color div {
    height: 10px;
}
.input-group.color .input-group-addon i {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
/* EOF BOOTSTRAP COLORPICKER */