<div class="group-input-fields-content input-group">
  <input type="text" name="<%= field_name %>[<%= field.slug %>][values][]" class="data-error-place-parent form-control input-value <%= "required" if field.options[:required].to_s.to_bool %>" />
  <span class="input-group-addon btn_upload" onclick="load_upload_audio_field(this);return false;"><i class="fa fa-upload"></i> <%= t('zgc_cms.admin.button.upload_audio')%></span>
</div>