<div class="group-input-fields-content row" data-callback-render="custom_field_field_attrs_val">
    <div class="col-md-4">
        <input type="text" name="<%= field_name %>[<%= field.slug %>][values][][attr]" placeholder="<%= t('zgc_cms.admin.table.attribute') %>" class="<%= 'is_translate' if field.get_option('translate') %> form-control input-attr <%= "required" if field.options[:required].to_s.to_bool %>" />
    </div>
    <div class="col-md-8">
        <input type="text" name="<%= field_name %>[<%= field.slug %>][values][][value]"  placeholder="<%= t('zgc_cms.admin.table.value') %>" class="<%= 'is_translate' if field.get_option('translate') %> form-control input-value" />
    </div>
</div>
