<div class="group-input-fields-content input-group">
    <input
        onfocus="<%= '$(this).blur().next(\'.btn_upload\').click();' if field.options[:dimension].present? || field.options[:versions].present? || field.options[:thumb_size].present? %>"
        onchange="zgc_custom_field_image_changed($(this))"
        data-dimension="<%= field.options[:dimension] %>"
        data-versions="<%= field.options[:versions] %>"
        data-thumb_size="<%= field.options[:thumb_size] %>"
        type="text"
        name="<%= field_name %>[<%= field.slug %>][values][]"
        class="data-error-place-parent form-control input-value <%= "required" if field.options[:required].to_s.to_bool %>" />
    <span class="input-group-addon btn_upload" onclick="load_upload_image_field($(this).prev());" style="cursor: pointer;">
      <i class="fa fa-upload"></i>
      <%= t('zgc_cms.admin.button.upload_image')%> <%= "(#{field.get_option('dimension')})" if field.get_option('dimension').present? %>
    </span>
    <span class="input-group-addon btn btn-primary btn-xs" onclick="zgc_custom_field_image_remove($(this).parent().find('input'));"><i class="fa fa-times"></i></span>
</div>