<div class="login-body">
    <h3 class="login-box-msg"><%= raw t('zgc_cms.admin.login.welcome_login_html', default: 'Please Login') %>  </h3>
    <%= render "zgc_cms/flash_messages" %>
    <%= form_for(@user, as: "user", :html => { method: "post", role: "form", id:"login_user", class: "form-horizontal zgc_form_validate"  }, :url => zgc_admin_login_path ) do |f| %>
        <div class="form-group">
            <div class="col-md-12">
                <%= f.text_field :username, :class => "form-control required", autofocus: true, :placeholder => t("zgc_cms.admin.login.username", default: 'Username') %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <%= f.password_field :password, :class => "form-control required", :placeholder => t("zgc_cms.admin.login.password", default: 'Password') %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <%= raw zgc_captcha_tags_if_under_attack("login") %>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="checkbox">
                    <label><input name="remember_me" type="checkbox"> <%= t("zgc_cms.admin.login.remember_me", default: 'Remember me') %> </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-6">
                <button type="submit" class="btn btn-primary btn-block btn-flat"><%= t('zgc_cms.admin.button.log_in', default: 'Log In') %></button>
            </div>
            <!-- /.col -->
        </div>
        <hr>

        <%= raw zgc_content_before_draw %>
        <%= r = {html: "", f: f}; hooks_run("user_login_form", r); raw(r[:html]); %>

        <div class="row">
            <% if current_site.get_option('permit_create_account', false) %>
                <div class="col-xs-6"><%= t('zgc_cms.admin.login.do_not_have_account_yet') %><br> <a href="<%= zgc_admin_register_path %>"><%= t('zgc_cms.admin.login.create_account', default: 'Create Account') %></a></div>
            <% end %>
            <div class="col-xs-6">
                <a href="<%= zgc_admin_forgot_path %>" class=""><%= t('zgc_cms.admin.login.forgot_your_password_int', default: 'Forgot Password') %></a>
            </div>
        </div>
    <% end %>
</div>