<section class="content" id="admin_content" data-title="<%= raw zgc_admin_title_draw %>" data-url="<%= request.original_url if params[:zgc_ajax_request] == "redirect" %>">
    <% unless params[:zgc_skip_breadcrumb] %>
        <ol class="breadcrumb"><%= render_breadcrumbs :tag => :li, :separator => "" %></ol>
    <% end %>
    <%= render "zgc_cms/flash_messages" %>
    <%= zgc_draw_custom_assets %>
    <%= yield %>
</section>