<footer class="main-footer" id="main-footer">
    <div class="row">
      <div class="col-md-6"><strong>Copyright &copy; 2019 - <%= Time.now.year %> <a href="http://zerogravityco.com">Zero Gravity Co CMS.</a> </strong></div>
        <div class="col-md-6 hidden-xs">
            <div class="pull-left">
                <a id="link_see_intro" href="#" onclick="init_intro(); return false;"><i class="fa fa-tv"></i> <%= I18n.t('zgc_cms.see_intro') %>.</a>
            </div>
            <div class="pull-right">
                <b>Version </b><%= ZgcCms::VERSION %>
            </div>
        </div>
    </div>
</footer>
