<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Zero Gravity Co CMS Installation</title>
    <link type="image/vnd.microsoft.icon" rel="shortcut icon" href="<%= asset_path("zgc_cms/zgc.png") %>">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag  "zgc_cms/bootstrap.min.css", media: "all" %>
    <%= javascript_include_tag "zgc_cms/admin/login_manifest" %>
    <script>
        jQuery(function(){
            $("#new_site").validate();
        })
    </script>
</head>
<body>
<div class="login-container">

    <div class="login-box animated fadeInDown">
        <div class="login-logo text-center"><%= image_tag("zgc_cms/zgc.png") %></div>
        <div class="login-body">
            <div class="login-title"><%= raw t('zgc_cms.welcome_message', default: "Welcome to Zero Gravity Co CMS") %>  </div>
            <div class="">
                <%= yield %>
            </div>
        </div>
    </div>
</div>

</body>
</html>
