<div id="tab-seo_settings" class="<%= "active" if "seo" == params[:tab] %> tab-pane ">
    <div class="form-group">
        <%= f.label t('zgc_cms.admin.table.description') %><br>
        <%= text_area :options, :seo_description, :class => "form-control translatable", :value => @site.get_option("seo_description") %>
    </div>
    <div class="form-group">
        <label for=""><%= t('zgc_cms.admin.table.keywords') %></label><br>
        <%= text_area :options, :keywords, :class => "form-control translatable", :value => @site.get_option("keywords") %>
    </div>
    <div class="form-group">
        <label for=""><%= t('zgc_cms.admin.settings.author') %></label><br>
        <%= text_field :options, :seo_author, :class => "form-control", :value => @site.get_option("seo_author") %>
    </div>
    <div class="form-group">
        <label for=""><%= t('zgc_cms.admin.settings.twitter_card') %></label><br>
        <%= text_field :options, :twitter_card, :class => "form-control", :value => @site.get_option("twitter_card") %>
    </div>
    <div class="form-group">
        <label for=""><%= t('zgc_cms.admin.table.screenshot') %></label><br>
        <%= hidden_field :options, :screenshot, :class => "form-control unput_upload", :value => @site.get_option("screenshot") %>
    </div>
</div>