<article id="search-view" class="">
    <header class="page-header">
        <h1 class="page-title"><%= ct('search_msg', default: 'Text searched: ')%> <%= params[:q] %></h1>
    </header>
    <div class="panel panel-primary post_list no-line">
        <div class="panel-body">
            <div class="row">
                <% @posts.each_with_index do |post, index| %>
                    <%= raw "<div class='clearfix'></div>" if index%3 == 0 && index > 0 %>
                    <%= render partial: 'partials/post_list_item', locals: {post: post.decorate} %>
                <% end %>
            </div>
            <%= content_tag("div", raw(ct('no_contents_found', default: 'No contents found')), class: "alert alert-warning") if @posts.empty? %>
            <%= raw zgc_do_pagination(@posts) %>
        </div>
    </div>
</article>