<div class="page-content-wrap">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading ui-draggable-handle">
          <h4><%= @post_type.id.present? ? t('zgc_cms.admin.post_type.edit_post_type') : t('zgc_cms.admin.post_type.add_post_type') %> </h4>
        </div>
          <%= render partial: 'form' %>
      </div>

    </div>
  </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
