<div class="col-md-7">
    <div class="panel panel-info">
        <div class="panel-heading">
            <%= t('zgc_cms.admin.message.add_menus') %> <%= image_tag('zgc_cms/admin/admin_spinner.gif', id: 'menu_reoreder_loading', class: 'pull-right', style: 'background: #3C8DBC; width: 20px; border-radius: 10px; display: none;') %>
        </div>
        <div class="panel-body">
            <div class="dd" id="menus_list" data-url="<%= url_for(action: :add_items, nav_menu_id: @nav_menu.id) %>" data-reorder_url="<%= url_for(action: :reorder_items, nav_menu_id: @nav_menu.id) %>">
                <%= render 'menu_items', items: @nav_menu.children.reorder(:term_order).all, nav_menu: @nav_menu %>
            </div>
        </div>
    </div>
</div>