
<%= form_for @site, as: "site", url: save_zgc_admin_installers_path, html: {class: 'form-horizontal', style: "color: #ccc;"} do |f| %>
    <%= render partial: 'layouts/zgc_cms/admin/form_error', locals: {data: @site} %>
    <div class="form-group">
        <%= f.label t('zgc_cms.admin.button.domain') %><br>
        <%= f.text_field :slug, :class => "form-control required"  %>
    </div>
    <div class="form-group">
        <%= f.label t('zgc_cms.admin.table.name') %><br>
        <%= f.text_field :name, :class => "form-control required" %>
    </div>
    <div class="form-group">
        <%= f.label t('zgc_cms.admin.post_type.template') %><br>
        <%= select_tag :theme, options_for_select(PluginRoutes.all_themes.map{|theme| [theme["name"], theme["key"]] }), :class => "form-control required" %>
    </div>
    <div class="form-group">
        <button class="btn btn-primary pull-right" type="submit"><%= t('zgc_cms.admin.button.submit') %></button>
    </div>
<% end %>